[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=jupyter notebook
User=user
Group=user
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target